.question-word{
    position: absolute;
    width: 256px;
    height: 48px;
    left: 691px;
    top: 485px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 48px;
}

.join-button{
    position: absolute;
    width: 198px;
    height: 53px;
    left: 720px;
    top: 533px;
}